/*
@import "compass";
#main {
  @include float-left;
  border: 1px solid black;
  @include border-radius(5px); }
#sidebar {
  @include float-right;
  @include box-shadow(black 0 1px 2px); }
*/
/* ~~~~~~~~~ Layout ~~~~~~~~~~~~*/
/* Set the base grid */
/*includes susy*/
#container {
  *zoom: 1;
  margin: auto;
  width: 73em;
  max-width: 100%;
  /*  @include susy-grid-background;
  */ }
  #container:after {
    content: "";
    display: table;
    clear: both; }

header {
  clear: both;
  margin-left: 1.37%;
  margin-right: 1.37%; }
  header #hdr_img {
    display: inline;
    float: left;
    width: 23.288%;
    margin-right: 1.37%; }
    header #hdr_img img {
      margin-top: 20px;
      margin-left: 30px; }
  header h1 {
    display: inline;
    float: left;
    width: 39.726%;
    margin-right: 1.37%;
    margin-top: 8px; }
  header h2 {
    display: inline;
    float: left;
    width: 23.288%;
    margin-right: 1.37%;
    margin-top: 40px; }

#main {
  display: inline;
  float: left;
  width: 72.603%;
  margin-right: 1.37%;
  margin-left: 1.37%; }
  #main .post {
    padding-left: 33.962%; }
    #main .post article {
      display: inline;
      float: left;
      width: 100%;
      margin-right: 1.887%; }
    #main .post .comments {
      display: inline;
      float: left;
      width: 100%;
      margin-right: 1.887%; }

aside {
  display: inline;
  float: left;
  width: 23.288%;
  margin-right: 1.37%;
  display: inline;
  float: right;
  margin-right: 1.37%;
  #margin-left: -1em; }

footer {
  clear: both;
  margin-left: 1.37%;
  margin-right: 1.37%;
  padding-left: 24.658%;
  padding-right: 24.658%; }

/*~~~~~~~~~~~~~ Colour ~~~~~~~~~~*/
/* light is default mode, so pair with general html definition */
html, .light {
  background-color: #fdf6e3;
  color: #657b83; }
  html *, .light * {
    color: #657b83; }
  html h1, html h2, html h3, html h4, html h5, html h6, .light h1, .light h2, .light h3, .light h4, .light h5, .light h6 {
    color: #586e75;
    border-color: #657b83; }
  html a, html a:active, html a:visited, .light a, .light a:active, .light a:visited {
    color: #586e75; }
  html a, html a:active, html a:visited, html code.url, .light a, .light a:active, .light a:visited, .light code.url {
    color: #6c71c4; }
  html h1, html h2, html h3, html h4, html h5, html h6, .light h1, .light h2, .light h3, .light h4, .light h5, .light h6 {
    color: #6c71c4; }

.dark {
  background-color: #002b36;
  color: #839496; }
  .dark * {
    color: #839496; }
  .dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
    color: #93a1a1;
    border-color: #839496; }
  .dark a, .dark a:active, .dark a:visited {
    color: #93a1a1; }

html * {
  color-profile: sRGB;
  rendering-intent: auto; }

header #op {
  color: #2aa198; }

header #cl {
  color: #073642; }

header #on {
  color: #d33682; }

header h2 {
  color: #b58900; }

aside a, aside a:active, aside a:visited, aside code.url {
  color: #b58900; }
aside h1, aside h2, aside h3, aside h4, aside h5, aside h6 {
  color: #b58900; }

/*~~~~~~~~~~~~~ Type ~~~~~~~~~~~~~*/
/* Vertical Rhythm */
body {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  /*@include debug-vertical-alignment;*/ }
  body body {
    font-size: 100%;
    line-height: 1.625em; }
  body html > body {
    font-size: 16px; }

a {
  text-decoration: none; }

header h1 {
  font-size: 3.75em;
  line-height: 2.167em; }

h1 {
  font-size: 1.5em;
  line-height: 2.167em; }

h2 {
  font-size: 1.5em;
  line-height: 1.625em; }

h1, h2, h3, h4, h5, h6, header {
  text-shadow: rgba(255, 255, 255, 0.8) -1px -1px 0px; }

aside li, aside h5 {
  margin-top: 13px;
  margin-bottom: 27px; }

aside {
  margin-top: 7px; }

.entry-title {
  margin-bottom: 26px; }

p {
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: lighter;
  margin-top: 13px;
  margin-bottom: 26px; }

.highlight {
  margin-bottom: 26px; }

pre {
  font-size: 1.1em;
  line-height: 1.4em;
  font-weight: lighter;
  margin: 0 0 1.5em;
  overflow-x: auto;
  margin-bottom: 1.625em;
  /* Attempt to maintain vertical rhythm */ }

/*~~~~~~~~~~~~~ Syntax Highlight ~~~~~~~~~~~~~*/
/*Pygment Syntax Highlighting */
.highlight .err {
  border: 1px solid #dc322f; }

/* Error */
.highlight .hll {
  background-color: #fdf6e3; }

.highlight {
  background: #eee8d5; }

.highlight .c {
  color: #93a1a1;
  font-style: italic; }

/* Comment */
.highlight .k {
  color: #268bd2;
  font-weight: bold; }

/* Keyword */
.highlight .o {
  color: #859900; }

/* Operator */
.highlight .cm {
  color: #93a1a1;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #93a1a1; }

/* Comment.Preproc */
.highlight .c1 {
  color: #93a1a1;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #93a1a1;
  font-weight: bold; }

/* Comment.Special */
.highlight .gd {
  color: #dc322f; }

/* Generic.Deleted */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #dc322f; }

/* Generic.Error */
.highlight .gh {
  color: #073642;
  font-weight: bold; }

/* Generic.Heading */
.highlight .gi {
  color: #859900; }

/* Generic.Inserted */
.highlight .go {
  color: #073642; }

/* Generic.Output */
.highlight .gp {
  color: #268bd2;
  font-weight: bold; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #586e75;
  font-weight: bold; }

/* Generic.Subheading */
.highlight .gt {
  color: #2aa198; }

/* Generic.Traceback */
.highlight .kc {
  color: #d33682;
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  color: #d33682;
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kn {
  color: #d33682;
  font-weight: bold; }

/* Keyword.Namespace */
.highlight .kp {
  color: #d33682; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #d33682;
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #d33682;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #268bd2; }

/* Literal.Number */
.highlight .s {
  color: #6c71c4; }

/* Literal.String */
.highlight .na {
  color: #6c71c4; }

/* Name.Attribute */
.highlight .nb {
  color: #d33682; }

/* Name.Builtin */
.highlight .nc {
  color: #586e75; }

/* Name.Class */
.highlight .no {
  color: #586e75; }

/* Name.Constant */
.highlight .nd {
  color: #d33682; }

/* Name.Decorator */
.highlight .ni {
  color: #586e75;
  font-weight: bold; }

/* Name.Entity */
.highlight .ne {
  color: #586e75;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #859900; }

/* Name.Function */
.highlight .nl {
  color: #859900; }

/* Name.Label */
.highlight .nn {
  color: #859900;
  font-weight: bold; }

/* Name.Namespace */
.highlight .nt {
  color: #859900;
  font-weight: bold; }

/* Name.Tag */
.highlight .nv {
  color: #586e75; }

/* Name.Variable */
.highlight .ow {
  color: #d33682;
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #eee8d5; }

/* Text.Whitespace */
.highlight .mf {
  color: #268bd2; }

/* Literal.Number.Float */
.highlight .mh {
  color: #268bd2; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #268bd2; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #268bd2; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #cb4b16; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #cb4b16; }

/* Literal.String.Char */
.highlight .sd {
  color: #cb4b16;
  font-style: italic; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #cb4b16; }

/* Literal.String.Double */
.highlight .se {
  color: #cb4b16;
  font-weight: bold; }

/* Literal.String.Escape */
.highlight .sh {
  color: #cb4b16; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #cb4b16;
  font-weight: bold; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #cb4b16; }

/* Literal.String.Other */
.highlight .sr {
  color: #cb4b16; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #cb4b16; }

/* Literal.String.Single */
.highlight .ss {
  color: #cb4b16; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #d33682; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #b58900; }

/* Name.Variable.Class */
.highlight .vg {
  color: #b58900; }

/* Name.Variable.Global */
.highlight .vi {
  color: #b58900; }

/* Name.Variable.Instance */
.highlight .il {
  color: #268bd2; }

/* Literal.Number.Integer.Long */
/* ~~~~~~~~~Division~~~~~~~~~ */
.entry-content h2, #main {
  border-bottom: 1px solid #b58900;
  -moz-box-shadow: 0 0 1px white;
  -webkit-box-shadow: 0 0 1px white;
  -o-box-shadow: 0 0 1px white;
  box-shadow: 0 0 1px white; }

pre {
  -moz-box-shadow: white 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 6px 0px inset;
  -webkit-box-shadow: white 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 6px 0px inset;
  -o-box-shadow: white 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 6px 0px inset;
  box-shadow: white 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 6px 0px inset;
  padding: 8px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px; }

.entry-content img {
  width: 100%;
  height: auto;
  margin-top: 13px;
  margin-bottom: 13px;
  -moz-box-shadow: white 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 6px 0px;
  -webkit-box-shadow: white 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 6px 0px;
  -o-box-shadow: white 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 6px 0px;
  box-shadow: white 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 6px 0px; }

/* ~~~~~~~~~Header~~~~~~~~~ */
header {
  height: 180px;
  background-color: #eee8d5;
  -moz-box-shadow: white 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 6px 0px;
  -webkit-box-shadow: white 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 6px 0px;
  -o-box-shadow: white 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 6px 0px;
  box-shadow: white 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 6px 0px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background-image: url(/img/rue-stampt-m.png);
  background-repeat: no-repeat;
  background-position: 96% 90%; }
  header h1 {
    font-family: 'Terminal Dosis';
    font-weight: 800; }
  header h2 {
    font-family: 'Terminal Dosis';
    font-weight: 400;
    font-size: 1em; }

/* ~~~~~~~~~Aside~~~~~~~~~ */
aside {
  background-color: rgba(7, 54, 66, 0.6);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: black 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 6px 0px;
  -webkit-box-shadow: black 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 6px 0px;
  -o-box-shadow: black 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 6px 0px;
  box-shadow: black 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 6px 0px; }
  aside h1, aside h2, aside h3, aside h4, aside h5, aside h6, aside ul, aside ol {
    text-shadow: rgba(0, 43, 54, 0.6) 1px 1px 1px;
    margin-bottom: 13px; }
  aside ul, aside li a, aside a:visited, aside a:active {
    color: #2aa198; }
  aside h2 {
    margin-left: 8px; }
