  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Lightmind</title>
  <meta name="description" content="A blog about metaphor, ruby, software development, symbolic modelling and flexibility.">
  <meta name="author" content="Rupert Meese">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="stylesheet" href="/css/mine.css"/>
  <link rel="stylesheet" href="/css/pygments.css"/>
  
  <link rel="dns-prefetch" href="//ajax.googleapis.com"/>

  <!-- All JavaScript at the bottom, except this Modernizr build incl. Respond.js
       Respond is a polyfill for min/max-width media queries. Modernizr enables HTML5 elements & feature detects; 
       for optimal performance, create your own custom Modernizr build: www.modernizr.com/download/ -->
  <script src="/js/libs/modernizr-2.0.6.min.js"></script>

